@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(./assets/whale_bg.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #141C28;
}